*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://www.shutterstock.com/shutterstock/photos/2227743805/display_1500/stock-vector-cute-memo-template-collection-of-colorful-papers-organization-of-work-and-study-process-goal-2227743805.jpg');
  background-repeat: no-repeat;
}